<!doctype html>
<html lang="pt-br">

<head>
    <title>{{titulo}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/mdb.min.css')}}" type="text/css">
    <!-- Fontes Awesome -->
    <script src="https://kit.fontawesome.com/3a2331ebdf.js" crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="{{url_for('static', filename='js/jquery-3.41.mim.js')}}"></script>
    <!-- Favico -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/mdb-favicon.ico') }}">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="h1">teste</div>
            </div>
        </div>
    </div>
   
    <!-- MDB Scripts -->
    <script src="{{url_for('static', filename='js/mdb.min.js')}}"></script>


</body>

</html>